<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <!-- Day 1 -->
  <!-- <app-home></app-home>
  <app-contact-us></app-contact-us>
  <app-about-us></app-about-us> -->
  <!-- <app-first></app-first>
  <h5> this is main component </h5>
  <second-component></second-component> -->


  <!-- Day 2 -->
  <!-- <div class="container">
    <app-test></app-test>
  </div> -->

<!-- Assignment 2 -->
  
<app-employee></app-employee>
  
</body>
</html>